.ipynb_checkpoints/
.venv/
__pycache__/
.DS_Store

# Loggs
lightning_logs/
wandb/
None/
outputs/

# Notebooks
data_exploration.ipynb
dataset_preparation.ipynb
file_mapping.ipynb
tests.ipynb

# Data files are too big to be stored here
data/