.ipynb_checkpoints/
.venv/
__pycache__/
.DS_Store

# Loggs
lightning_logs/
wandb/
None/
outputs/

# Notebooks
data_exploration.ipynb
dataset_preparation.ipynb
file_mapping.ipynb
tests.ipynb

# Data files are too big to be stored here
data/

# SLURM job script which includes wandb key :) 
job.sh

# Configs
config/athena_config_base.yaml
config/athena_config_small.yaml
config/athena_config_small_2.yaml
config/athena_config_large_2.yaml
